.head{
    background-color: rgb(17, 61, 17);
    height: 100px;
    margin-top: 30px;
}
.follow{
    margin-top: 30px;
}
.follow h4{
    display: inline;
}
.btn-follow{
    margin-left: 305px;
    margin-right: 50PX;
    background-color: rgb(255, 255, 255);
    width: 80px;
    border-color: rgb(1, 146, 97);
    color: rgb(1, 146, 97);
}
.btn-visit{
    background-color: rgb(255, 255, 255);
    width: 110px;
    border-color: rgb(1, 146, 97);
    color: rgb(1, 146, 97);
}
.info{
    width: 60%;
    margin-top: 20px;
}
.about{
    width: 100%;
    border-color:rgb(1, 146, 97) ;
    border-style:solid;
    border-width: 1px;
    height: 250px;
    margin-top: 10px;
}
.about h5{
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(36, 231, 166);
}
.btn-about{
    background-color: rgb(255, 255, 255);
    width: 110px;
    border-color:white;
    color: rgb(1, 146, 97);
    margin-right: 10px;
}
.btn-contact{
    background-color: rgb(255, 255, 255);
    width: 110px;
    border-color:white;
    color: rgb(1, 146, 97);
}
.route-div{
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 35px;
    margin-left: 170px;
    border-radius: 2px;
    background-color:rgb(17, 61, 17) ;
}
.job-post-route{
    margin-top: 8px;
    width: 70%;
    height: 20px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color:white;
    color: rgb(1, 146, 97);
}