<app-company-navbar></app-company-navbar>
<div class="container">
    <div class="head">

    </div>
    <div class="follow">
        <h4>Space Plus</h4>
        <button class="btn-follow">Follow</button>
        <button class="btn-visit">Visit website</button>
    </div>
    <div class="info">
        <button class="btn-about">About</button>
        <button class="btn-contact">Contact info</button>
        <div class="about">
            <h5>About Company</h5>
            <p></p>
        </div>
        <div class="route-div">
            <button routerLink="/jobPost" class="job-post-route">Start new job post</button>
        </div>
    </div>

</div>
