<app-user-navbar></app-user-navbar>
<body>
  <header>
    <div id="header-container">
      <img id="u156_img" class="img" src="assets/images/u82.svg" alt="Image" />
      <h1 id="header">Saved Jobs</h1>
    </div>
  </header>

  <main>
    <ul class="list-group">
      <div class="item-container" style="width: 682px; height: 59px;">
        <li class="list-group-item">
          Job Title A<button class="btn-view">View Job</button>
        </li>
      </div>
      <!-- Add more job items here -->
    </ul>
  </main>
</body>
