<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation Page</title>
    <style>
      .message-container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="confirmation-container">
      <img
        src="https://www.shutterstock.com/image-vector/handshake-flat-style-icon-600nw-235586221.jpg"
        class="circular-image"
        alt="Handshake Image"
      />
      <div class="message-container">
        <p id="message"> Your application has been submitted successfully.</p>
      </div>
      <div class="button-container">
        <button class="btn" routerLink="/home-applicant">Back to Home</button>
        <button class="btn" routerLink="/available-jobs">Go to Jobs</button>
      </div>
    </div>
  </body>
</html>
