<app-company-navbar></app-company-navbar>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <a class="logo navbar-brand ms-5" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="links navbar-nav me-auto ms-5 mb-2 mb-lg-0">
            <li class="link-item nav-item me-2">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="link-item nav-item me-2">
            <a class="nav-link" href="#">Profile</a>
            </li>

            <li class="link-item nav-item me-2">
            <a class="nav-link" href="#">Saved Jobs</a>
            </li>
        </ul>
        <form class="d-flex">
            <button class="btn btn-outline-success me-5" type="submit">Log out</button>
        </form>
        </div>
    </div>
</nav> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div *ngIf = "jobId">
                <h1 class="title mt-5"> Details about job</h1>
                <span class="line"></span>
                <div class="job">
                    <div class="job-details">
                        <div class="job-d">
                            <h2 class="job-title">{{job.job_title}}</h2>
                            <p class="job-desc"> {{job.job_description}} </p>
                            <span class="req">requierments: </span> 
                            <p class="job-req">{{job.job_requierments}} </p>
                            <p class="com-name"><span>company name: </span> {{job.company_name}} </p>
                            <p class="salary"> <span> salary range: </span> {{job.salary}} </p>
                            <button routerLink="/job-form"> apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>